.container {
  padding: 20px;
  width: 30%;
  background-color: rgb(231, 228, 228);
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.body {
  display: flex;
  justify-content: space-between;
}
