.container {
  margin: auto;
}

.header {
  background-color: rgb(185, 185, 185);
  padding: 8px 12px;
  margin-top: 12px;
}

.header:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

.content {
  background-color: rgb(215, 215, 215);
  padding: 12px 12px;
}
