.container {
  margin: auto;
  width: 30%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.movie-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
